<app-navbarcomponent></app-navbarcomponent>

<div class="dashboard-container">

  <h2>Month-wise Expenses</h2>


  <div *ngFor="let month of getMonthKeys()" class="month-section">
    <h3>{{ month }}</h3>

    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>Description</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Payment Method</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let exp of monthWiseExpenses[month]">
            <td data-label="Description">{{ exp.description }}</td>
            <td data-label="Amount">₹{{ exp.amount }}</td>
            <td data-label="Category">{{ exp.category }}</td>
            <td data-label="Payment">{{ exp.paymentMethod }}</td>
            <td data-label="Date">{{ exp.transactionDate }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="monthly-total">
      Total for <span>{{ month }}</span>: ₹{{ calculateTotalForMonth(month) }}
    </div>
  </div>
</div>
