<app-navbarcomponent></app-navbarcomponent>

<div class="expenses-container">
  <h2>💰 Your Expenses</h2>

  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Description</th>
          <th>Amount</th>
          <th>Category</th>
          <th>Payment</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let exp of expenses">
          <td data-label="ID">{{ exp.id }}</td>
          <td data-label="Description">{{ exp.description }}</td>
          <td data-label="Amount">₹{{ exp.amount }}</td>
          <td data-label="Category">{{ exp.category }}</td>
          <td data-label="Payment">{{ exp.paymentMethod }}</td>
          <td data-label="Date">{{ exp.transactionDate }}</td>
          <td class="action-buttons" data-label="Actions">
            <button class="delete-btn" (click)="deleteExpense(exp.id)">Delete</button>
            <button class="edit-btn" (click)="editExpense(exp.id)">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3 class="total-expense-heading">Total Expense: ₹{{ totalAmount }}</h3>
</div>
