<div class="sidebar">
    <div class="sidebar-header">
      <h2>💸 ExpenseMate</h2>
    </div>
  
    <ul class="nav-links">
      <li><a routerLink="/dash-board">🏠 Dashboard</a></li>
      <li><a routerLink="/addexpense">➕ Add Expense</a></li>
      <li><a routerLink="/viewexpense">📊 All Expenses</a></li>
      <li><a routerLink="/viewonlineexpense">💳 Online Expenses</a></li>
      <li><a routerLink="/viewofflineexpense">💵 Offline Expenses</a></li>
      <li><a routerLink="/login">🚪 Logout</a></li>
    </ul>
  </div>
